
body{
    margin: 5px;

    overflow: hidden;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;

    
}

.login{
    display: table;
  width: 200px;
  margin: 0 auto; 
}
.editor .jsoneditor{
    height: 520px;
  
    margin-top: 5px;
}
.editor label{
  display: none;
  font-family: Lato;
  font-weight: 300;
}
.login input{
    border: 1px solid black;

    width: 187px;
}
.login input:hover,.login input:focus{
    outline: none;
}
button{
    border: 1px solid;
    background-color: white;
    min-width: 90px;
}
button:hover{
    border: 1px black;
    border-style: dotted;
}
.admin button{
    width: inherit;
    min-width: 0px;
    border: 0px;
}
.admin button:hover{
    border: 0px;
    background-color: transparent;
}
.admin.log{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: white;
    opacity: 0.1;
    z-index: 9999;
}
.admin.log .button{

}
.admin.log .button:hover{}
.admin:hover{
    opacity: 1;

    font-size: 20px;
}

.info{
    position: absolute;
  
    right: 5px;
    bottom: 0px;
    font-family: 'Lato';
    font-weight: 300;
}

a{
    color: black;

}
a:hover{
    color: black;

}

footer{
    position: absolute;

    left: 5px;
    bottom: 5px;
    background-color: white;
    z-index: 999;
}
footer p{
  font-family: 'Lato';
  line-height: 1.4em;
  text-transform: none;
  letter-spacing: 0px;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  display: block;
  padding: .2em;
  
}

.slide-boxes{
    position: absolute;

    width: 100%;
    /* background-color: rgba(0,0,100,.4); */
    z-index: 100;
    height: 100%;
}
.slide-boxes .left{
    width: 50%;
  
    /* background-color: rgba(0,0,0,.5); */
    height: 100%;
}
.slide-boxes .right{
    width: 50%;   
    /* background-color: rgba(0,200,0,.5); */   height: 100%;
  
    position: absolute;
    right: 0px;
    top: 1px;
}



.photoContainer{
    position: absolute;
  
    display: inline-flex;
    top: 0;
}

.photo{
  display: none;
  margin: 0 auto;
}
.photo.active{
  display: inherit;
  margin: auto auto;
}

.title{
	font-family: "Helvetica Neue","Arial","sans-serif";
  line-height: 1.3em;
  text-transform: none;
  letter-spacing: 4px;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
}

.sidenav{
    position: absolute;

    z-index: 9999;
    background-color: white;
}

nav{

}

nav ul{
    margin: 0px;

    padding: 0px;
}

nav ul li{
  
}

nav a{
  font-family: 'Lato';
  line-height: 1.4em;
  text-transform: none;
  letter-spacing: 0px;
  font-weight: 300;
  font-style: normal;
  font-size: 11px;
  display: block;
  padding: .2em;
  color: black;
}
nav a:hover{
    color: black;
  
}